@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
  @apply w-full py-2 px-4 bg-blue-600 hover:bg-blue-700 rounded-md text-white text-sm
}

.layout-div{
  @apply flex justify-center items-center mt-6
}

.user-input{
  @apply w-full p-2 border border-gray-300 rounded mt-1
}

.div-1{
  @apply h-screen flex bg-gray-100
}

.div-2{
  @apply w-full max-w-md m-auto bg-white rounded-lg border-2 py-10 px-16
}

.h1-login{
  @apply text-2xl font-medium text-gray-700 mt-4 mb-12 text-center
}

.error-msg{
  @apply text-red-700
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


